


<% if (planning && planning.ID) { %>
    <link rel="stylesheet" href="/css/style.css">
    <h1>Editez Planning</h1>
  
    <form action="/updatePlanning/<%= planning.ID %>" method="POST">
      
       
      
        <label>Jour du planning</label>
        <input type="text" name="JOUR" value="<%= planning.JOUR %>">
        <label>Heure de début</label>
        <input type="text" name="HEURE_DEBUT" value="<%= planning.HEURE_DEBUT %>">
        <label>Heure de fin</label>
        <input type="text" name="HEURE_FIN" value="<%= planning.HEURE_FIN %>">
        <label>Instructeur</label>
        <input type="text" name="ID_INSTRUCTEUR" value="<%= planning.ID_INSTRUCTEUR%>">
        <label>Type de cours</label>
        <input type="text" name="TYPE_COURS" value="<%= planning.TYPE_COURS %>">
        <button type="submit">Mettre à jour</button>
        <button><a href="/planning">Annuler les modifications</a></button>
     
    </form>
 
  </div>
 
    <% } %>